{{>nav-auth}}

<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mx-auto mb-5">
            <div class="card card-ani">
                <div class="card-header d-flex justify-content-center">
                    <h3 class="ml-5">Foco</h3>
                    <a href="/home/edit" class="ml-4"><i class="fas fa-cog icon-edit"></i></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-4 mb-3 text-center" id="FocoBath">Estado</h4>
                    <div class="d-flex justify-content-around align-items-center mt-5">
                        <button id="encFocoBath" class="btn btn-success">Encender</button>
                        <button id="apgFocoBath" class="btn btn-danger">Apagar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mx-auto mb-5">
            <div class="card card-ani">
                <div class="card-header d-flex justify-content-center">
                    <h3 class="ml-5">Regadera</h3>
                    <a href="/home/edit" class="ml-4"><i class="fas fa-cog icon-edit"></i></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-4 mb-3 text-center" id="RegBath">Estado</h4>
                    <div class="d-flex justify-content-around align-items-center mt-5">
                        <button id="encRegBath" class="btn btn-success">Encender</button>
                        <button id="apgRegBath" class="btn btn-danger">Apagar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mx-auto mb-5">
            <div class="card card-ani">
                <div class="card-header d-flex justify-content-center">
                    <h3 class="ml-5">Contacto 2</h3>
                    <a href="/home/edit" class="ml-4"><i class="fas fa-cog icon-edit"></i></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-4 mb-3 text-center" id="ConBath">Estado</h4>
                    <div class="d-flex justify-content-around align-items-center mt-5">
                        <button id="encConBath" class="btn btn-success">Encender</button>
                        <button id="apgConBath" class="btn btn-danger">Apagar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/js/bath.js"></script>