{{>nav-auth}}

<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mx-auto mb-5">
            <div class="card card-ani">
                <div class="card-header d-flex justify-content-center">
                    <h3 class="ml-5">Foco</h3>
                    <a href="/home/edit" class="ml-4"><i class="fas fa-cog icon-edit"></i></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-4 mb-3 text-center" id="FocoLiv">Estado</h4>
                    <div class="d-flex justify-content-around align-items-center mt-5">
                        <button id="encFocoLiv" class="btn btn-success">Encender</button>
                        <button id="apgFocoLiv" class="btn btn-danger">Apagar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mx-auto mb-5">
            <div class="card card-ani">
                <div class="card-header d-flex justify-content-center">
                    <h3 class="ml-5">Contacto 1</h3>
                    <a href="/home/edit" class="ml-4"><i class="fas fa-cog icon-edit"></i></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-4 mb-3 text-center" id="ConExtra">Estado</h4>
                    <div class="d-flex justify-content-around align-items-center mt-5">
                        <button id="encConExtra" class="btn btn-success">Encender</button>
                        <button id="apgConExtra" class="btn btn-danger">Apagar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mx-auto mb-5">
            <div class="card card-ani">
                <div class="card-header d-flex justify-content-center">
                    <h3 class="ml-5">Contacto 2</h3>
                    <a href="/home/edit" class="ml-4"><i class="fas fa-cog icon-edit"></i></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-4 mb-3 text-center" id="Con2Extra">Estado</h4>
                    <div class="d-flex justify-content-around align-items-center mt-5">
                        <button id="encCon2Extra" class="btn btn-success">Encender</button>
                        <button id="apgCon2Extra" class="btn btn-danger">Apagar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/js/living.js"></script>