{{>nav-auth}}

<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mx-auto mb-5">
            <div class="card card-ani">
                <div class="card-header d-flex justify-content-center">
                    <h3 class="ml-5">Foco</h3>
                    <a href="/home/edit" class="ml-4"><i class="fas fa-cog icon-edit"></i></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-4 mb-3 text-center" id="focoSon">Estado</h4>
                    <div class="d-flex justify-content-around align-items-center mt-5">
                        <button id="encFocoSon" class="btn btn-success">Encender</button>
                        <button id="apgFocoSon" class="btn btn-danger">Apagar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mx-auto mb-5">
            <div class="card card-ani">
                <div class="card-header d-flex justify-content-center">
                    <h3 class="ml-5">Xbox One</h3>
                    <a href="/home/edit" class="ml-4"><i class="fas fa-cog icon-edit"></i></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-4 mb-3 text-center" id="conSon">Estado</h4>
                    <div class="d-flex justify-content-around align-items-center mt-5">
                        <button id="encConSon" class="btn btn-success">Encender</button>
                        <button id="apgConSon" class="btn btn-danger">Apagar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mx-auto mb-5">
            <div class="card card-ani">
                <div class="card-header d-flex justify-content-center">
                    <h3 class="ml-5">Celular</h3>
                    <a href="/home/edit" class="ml-4"><i class="fas fa-cog icon-edit"></i></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-4 mb-3 text-center" id="boSon">Estado</h4>
                    <div class="d-flex justify-content-around align-items-center mt-5">
                        <button id="encBoSon" class="btn btn-success">Encender</button>
                        <button id="apgBoSon" class="btn btn-danger">Apagar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/js/son.js"></script>