<nav class="navbar navbar-expand-lg navbar-light bg-white pt-4 pb-4 sticky-top">
    <div class="container">
        <a href="/" class="navbar-brand brand">
            <span class="text-primary">Mintel</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="ml-auto">
                <a href="/login" class="btn btn-outline-secondary mr-1">Iniciar sesion</a>
                <a href="/signup" class="btn btn-primary">Registrate</a>
            </div>
        </div>
    </div>
</nav>