<nav id="sidebar" class="sidebar">
    <div class="sidebar-header">
        <h4><a class="link" href="/admin">Template</a></h4>
    </div>

    <ul class="list-unstyled side_ul components">
        <p style="color: #c14b1f">Administrador</p>
        <li>
            <a href="#users" data-toggle="collapse" aria-expanded="false"
                class="link dropdown-toggle dropdown-toggle_side"><i class="fas fa-users"></i> Usuarios</a>
            <ul class="collapse list-unstyled" id="users">
                <li>
                    <a class="link" href="/admin/admins">Administradores</a>
                    <a class="link" href="/admin/supervisor">Supervisores</a>
                    <a class="link" href="/admin/users">Usuarios</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>