{{>nav-auth}}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <img src="https://images.pexels.com/photos/262048/pexels-photo-262048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Habitacion Francisco</h5>
                    <p class="card-text">Controla luces y contactos de esta habitacion</p>
                    <a href="#" class="btn btn-primary">Click aqui</a>
                </div>
            </div>
        </div>
    </div>
</div>